@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --foreground: #171717;
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #171717;
    --background: #ffffff;
  }
}

@theme {
  --font-roboto: "Roboto Mono";
}

body {
    background: var(--background);
    color: var(--foreground);
}